.note{
   height: 150px;
   min-width: 150px ;
   transition: box-shadow 0.2s ease-in-out;
   cursor: pointer;
}

.note:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.AddButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.notePage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notesGrid{
    width: 100%;
    
}